@model OnlineClassifieds.ViewModels.UserChatVM

<div class="container">
    <div class="row clearfix">
        <div class="col-lg-12">
            <div class="card chat-app">
                <div id="plist" class="people-list">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-search"></i></span>
                        </div>
                        <input type="text" class="form-control" placeholder="Search...">
                    </div>
                    <!-- доступные чаты -->
                    <partial name="ChatTemplate/_ChatHeaders" model=@Model />
                </div>
                <div id="chatContent" class="chat">
                    <!-- контент активного чата -->
                    <partial name="ChatTemplate/_ChatContent" model=@Model.ActiveChat />
                </div>
            </div>
        </div>
    </div>
</div>
