@model OnlineClassifieds.ViewModels.UserChatVM
@inject IUserRepository UserRepository

@{
    string userName = "", avatarName = "";
}

<div class="container">
    <div class="row clearfix">
        <div class="col-lg-12">
            <div class="card chat-app">
                <div id="plist" class="people-list">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-search"></i></span>
                        </div>
                        <input type="text" class="form-control" placeholder="Search...">
                    </div>
                    <ul class="list-unstyled chat-list mt-2 mb-0">
                        @*<li class="clearfix active">
                            <img src="" alt="avatar">
                            <div class="about">
                                <div class="name">Vincent Porter</div>
                                <div class="status"> <i class="fa fa-circle offline"></i> left 7 mins ago </div>                                            
                            </div>
                        </li>*@
                        @foreach (var chat in Model.Chats)
                        {
                            // если текущий пользователь это покупатель в текущем чате
                            userName = chat.IdBuyer!.Equals(Model.CurrUserId) ?
                                (chat.UserOwner.FullName ?? "User") :
                                (chat.UserBuyer.FullName ?? "User");

                            avatarName = chat.IdBuyer!.Equals(Model.CurrUserId) ?
                                UserRepository.GetAvatar(chat.UserOwner) :
                                UserRepository.GetAvatar(chat.UserBuyer);
                            
                            // (если текущий сайт активен)
                            <li class="clearfix @(Model.ActiveChat?.Id == chat.Id ? "active" : "")">
                                <img src=@WC.ImageUserPath@avatarName alt="ava">
                                <div class="about">
                                    <div class="name">@chat.Announcement.Title</div>
                                    <div class="status"> <i class="fa fa-circle offline"></i> @userName</div>                                            
                                </div>
                            </li>
                        }
                    </ul>
                </div>
                <div class="chat">
                    @if (Model.ActiveChat is not null)
                    {
                        // если текущий пользователь это покупатель в текущем чате
                        userName = Model.ActiveChat.IdBuyer!.Equals(Model.CurrUserId) ?
                            (Model.ActiveChat.UserOwner.FullName ?? "User") :
                            (Model.ActiveChat.UserBuyer.FullName ?? "User");

                        avatarName = Model.ActiveChat.IdBuyer!.Equals(Model.CurrUserId) ?
                            UserRepository.GetAvatar(Model.ActiveChat.UserOwner) :
                            UserRepository.GetAvatar(Model.ActiveChat.UserBuyer);
                    }
                    <div class="chat-header clearfix">
                        <div class="row">
                            <div class="col-lg-6 user-info">
                                <i data-toggle="modal" data-target="#view_info">
                                    <img src=@WC.ImageUserPath@avatarName alt="ava">
                                </i>
                                <div class="chat-about">
                                    <h6 class="m-b-0">@Model.ActiveChat?.Announcement.Title</h6>
                                    <span>(@userName)</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="chat-history">
                        <ul id="chatHistory" class="m-b-0">
                            
                        </ul>
                    </div>
                    <div class="chat-message clearfix">
                        <partial name="ChatTemplate/_InputMessage" model=Model.ActiveChat?.Id />  <!-- отправка сообщения -->
                    </div>
                </div>

                @*<div class="chat">
                    <div class="chat-header clearfix">
                        <div class="row">
                            <div class="col-lg-6 user-info">
                                <i data-toggle="modal" data-target="#view_info">
                                    <img src="" alt="avatar">
                                </i>
                                <div class="chat-about">
                                    <h6 class="m-b-0">User Name</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="chat-history">
                        <ul class="m-b-0">
                            <li class="clearfix">
                                <div class="message-data text-right">
                                    <span class="message-data-time">10:10 AM, Today</span>
                                </div>
                                <div class="message other-message float-right"> Hi Aiden, how are you? How is the project coming along? </div>
                            </li>
                            <li class="clearfix">
                                <div class="message-data">
                                    <span class="message-data-time">10:12 AM, Today</span>
                                </div>
                                <div class="message my-message">Are we meeting today?</div>                                    
                            </li>                               
                            <li class="clearfix">
                                <div class="message-data">
                                    <span class="message-data-time">10:15 AM, Today</span>
                                </div>
                                <div class="message my-message">Project has been already finished and I have results to show you.</div>
                            </li>
                        </ul>
                    </div>
                    <div class="chat-message clearfix">
                        <div class="input-group mb-0">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="fa fa-send"></i>
                                </span>
                            </div>
                            <input name="message" type="text" class="form-control" placeholder="Enter text here...">                                    
                        </div>
                    </div>
                </div>*@
            </div>
        </div>
    </div>
</div>
