@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}

<div class="row justify-content-center">
    <div class="my__account--section__inner border-radius-10 d-flex align-items-center mt-4 col-xl-6">
        <div class="account__login--header">
            <h2 class="account__login--header__title h3">@ViewData["Title"]</h2>
        </div>
        <div class="account__login--inner">
            @{
                if (User.Identity?.IsAuthenticated ?? false)
                {
                    <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                        <button type="submit" class="nav-link btn btn-link text-dark">Click here to Logout</button>
                    </form>
                }
                else
                {
                    <p>You have successfully logged out of the application.</p>
                }
            }
        </div>
    </div>
</div>
