<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="~/icon/myfavicon.png" type="image/x-icon">
    <title>Super OLX</title>

    <!-------- All CSS Plugins here -------->
    <link rel="stylesheet" href="~/css/plugins/swiper-bundle.min.css">
    <link rel="stylesheet" href="~/css/plugins/glightbox.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/chat_messages.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/modal.css" asp-append-version="true" />

    <!-------- Style for template -------->
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body>
    <header class="header__section">
        <!-- шапка -->
        <partial name="MainTemplate/_HeaderTopBar" />

        <!-- лого, категории, поиск, MyAccount, WishList -->
        <partial name="MainTemplate/_HeaderMain" />

        <!-- доп. меню: Home, About US, Pages и тд -->
        <partial name="MainTemplate/_HeaderMenuNavigation" />

        <!-- при уменьшении окна, боковое меню -->
        <partial name="MainTemplate/_SidebarMenu" />

        <!-- при уменьшении окна, список внизу (Home, Search, WishList) -->
        <partial name="MainTemplate/_DownMenu" />

        <!-- при уменьшении окна, список внизу, это для кнопки Search -->
        <partial name="MainTemplate/_DropDownSearchField" />
    </header>

    <main class="main__content_wrapper m-5">
        @RenderBody()
    </main>

    <footer class="footer__section bg__black footer__section">
        <partial name="MainTemplate/_Footer" />
    </footer>

    <!-- Scroll button to top -->
    <button id="scroll__top">
        <svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512">
            <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="48" d="M112 244l144-144 144 144M256 120v292"/>
        </svg>
    </button>

    <!-- SignalR -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/5.0.12/signalr.min.js"></script>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/modal.js" asp-append-version="true"></script>

    <!-- All Script JS Plugins here (for template) -->
    <script src="~/js/vendor/popper.js" defer="defer"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js" defer="defer"></script>
    <script src="~/js/plugins/swiper-bundle.min.js"></script>
    <script src="~/js/plugins/glightbox.min.js"></script>

    <!-- Customscript js (for template) -->
    <script src="~/js/script.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
