@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout) && parentLayout !=  null)
    {
        Layout = parentLayout.ToString();
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}

<div class="my__account--section__inner border-radius-10 d-flex mt-4">
    <div class="account__left--sidebar">
        <h2 class="account__content--title h3 mb-20">Manage your account</h2>
        <partial name="_ManageNav" />
    </div>
    <div class="account__wrapper">
        @RenderBody()
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
