@inject SignInManager<IdentityUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}

<ul class="account__menu">
    <li class="account__menu--list active">
        <a id="profile" asp-page="./Index">Profile</a>
    </li>
    <li class="account__menu--list">
        <a id="email" asp-page="./Email">Email</a>
    </li>
    <li class="account__menu--list">
        <a id="change-password" asp-page="./ChangePassword">Password</a>
    </li>
    @if (hasExternalLogins)
    {
        <li class="account__menu--list">
            <a id="external-login" asp-page="./ExternalLogins">External logins</a>
        </li>
    }
    <li class="account__menu--list">
        <a id="two-factor" asp-page="./TwoFactorAuthentication">Two-factor authentication</a>
    </li>
    <li class="account__menu--list">
        <a id="personal-data" asp-page="./PersonalData">Personal data</a>
    </li>
    <li class="account__menu--list">
        <a id="personal-data" asp-area="Identity" asp-page="/Account/Logout">Logout</a>
    </li>
</ul>
