@page
@model ChangePasswordModel

@{
    ViewData["Title"] = "Change password";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div>
        <div class="account__login--header mb-25">
            <h2 class="account__login--header__title h3 mb-10">@ViewData["Title"]</h2>
        </div>
        <form id="change-password-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div>
                <label asp-for="Input.OldPassword"></label>
                <input asp-for="Input.OldPassword" class="account__login--input" />
                <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="Input.NewPassword"></label>
                <input asp-for="Input.NewPassword" class="account__login--input" />
                <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="account__login--input" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">Update password</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
