@page
@model EmailModel

@{
    ViewData["Title"] = "Manage Email";
    ViewData["ActivePage"] = ManageNavPages.Email;
}

<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div>
        <div class="account__login--header mb-25">
            <h2 class="account__login--header__title h3 mb-10">@ViewData["Title"]</h2>
        </div>
        <form id="email-form" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            @if (Model.IsEmailConfirmed)
            {
                <div>
                    <label asp-for="Email"></label>
                    <input asp-for="Email" class="account__login--input" disabled />
                    <div class="input-group-append">
                        <span class="h-100 input-group-text text-success font-weight-bold">✓</span>
                    </div>
                </div>
            }
            else
            {
                <div>
                    <label asp-for="Email"></label>
                    <input asp-for="Email" class="account__login--input" disabled />
                    <button id="email-verification" type="submit" asp-page-handler="SendVerificationEmail" class="btn btn-link">Send verification email</button>
                </div>
            }
            <div class="mt-4">
                <label asp-for="Input.NewEmail"></label>
                <input asp-for="Input.NewEmail" class="account__login--input" autocomplete="email" aria-required="true" />
                <span asp-validation-for="Input.NewEmail" class="text-danger"></span>
            </div>
            <button id="change-email-button" type="submit" asp-page-handler="ChangeEmail" class="w-100 btn btn-lg btn-primary">Change email</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
