@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div>
        <div class="account__login--header mb-25">
            <h2 class="account__login--header__title h3 mb-10">@ViewData["Title"]</h2>
        </div>
        <div class="account__login--inner">
            <form id="profile-form" method="POST">
                <div>
                    <label asp-for="Username"></label>
                    <input asp-for="Username" class="account__login--input">
                    <span asp-validation-for="Username" class="text-danger"></span>
                </div>
                <div>
                    <label asp-for="Input.PhoneNumber"></label>
                    <input asp-for="Input.PhoneNumber" class="account__login--input">
                    <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                </div>
                <button id="update-profile-button" type="submit" class="w-100 btn btn-lg btn-primary">Save</button>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
