@model Guid  // chatId

<div class="input-group mb-0">
    <div class="input-group-prepend">
        <span id="sendBtn" class="input-group-text">
            <i class="fa fa-send"></i>
        </span>
    </div>
    <input id="message" type="text" class="form-control" placeholder="Enter text here...">                          
</div>


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    $(document).ready(function() {
        // при клике на кнопку, отправляется AJAX-запрос, и возвращается PartialView сообщения
        $("#sendBtn").click(function() {
            const messageText = $("#message").val();
            const chatIdModel = "@Model";
            $.ajax({
                url: "/Message/SendMessage",
                type: "POST",
                data: { message: messageText, chatId: chatIdModel },
                success: (data) => {
                    $("#chatHistory").append(data);  // добавляем сообщение в чат пользователя
                    $("#message").val("");  // очищаем текстовое поле для ввода
                },
                error: (error) => {
                    console.error(error);
                }
            });
        });
    });
</script>
