@inject IHtmlLocalizer<OnlineClassifieds.SharedResources.MainTemplateResource> Localizer

<div class="predictive__search--box">
    <div class="predictive__search--box__inner">
        <h2 class="predictive__search--title">@Localizer["SearchAnnouncements_Text"]</h2>
        <partial name="_SearchAnnouncements" model="2" />  <!-- в модель передаётся id для уникальности элементов -->
    </div>
    <button class="predictive__search--close__btn" aria-label="search close button" data-offcanvas>
        <svg class="predictive__search--close__icon" xmlns="http://www.w3.org/2000/svg" width="40.51" height="30.443"  viewBox="0 0 512 512"><path fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32" d="M368 368L144 144M368 144L144 368"/></svg>
    </button>
</div>
