@inject IHtmlLocalizer<OnlineClassifieds.SharedResources.MainTemplateResource> Localizer

<div class="main__header header__sticky">
    <div class="container-fluid">
        <div class="main__header--inner position__relative d-flex justify-content-between align-items-center">
            <!-- кнопка меню, при уменьшении ширины -->
            <div class="offcanvas__header--menu__open ">
                <a class="offcanvas__header--menu__open--btn" href="javascript:void(0)" data-offcanvas>
                    <svg xmlns="http://www.w3.org/2000/svg" class="ionicon offcanvas__header--menu__open--svg" viewBox="0 0 512 512"><path fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-miterlimit="10" stroke-width="32" d="M80 160h352M80 256h352M80 352h352"/></svg>
                    <span class="visually-hidden">Menu Open</span>
                </a>
            </div>

            <!-- лого -->
            <div class="main__logo">
                <h1 class="main__logo--title">
                    <a class="d-flex align-items-center main__logo--link" asp-controller="Announcement" asp-action="Index">
                        <h3>Super OLX</h3>
                        <img class="main__logo--img" src="~/icon/myfavicon.png" alt="logo-img">
                    </a>
                </h1>
            </div>

            <!-- категория и поиск -->
            <div class="header__search--widget header__sticky--none d-none d-lg-block">
                <partial name="_SearchAnnouncements" model="1" />  <!-- поиск по названию, в модель передаётся id для уникальности элементов -->
            </div>

            <!-- MyAccount и WishList -->
            <div class="header__account header__sticky--none">
                <ul class="d-flex">
                    <partial name="MainTemplate/_AccountHeader" />  <!-- MyAccount -->

                    <li class="header__account--items d-none d-lg-block">
                        <a class="header__account--btn" href="wishlist.html">
                            <svg  xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 512 512"><path d="M352.92 80C288 80 256 144 256 144s-32-64-96.92-64c-52.76 0-94.54 44.14-95.08 96.81-1.1 109.33 86.73 187.08 183 252.42a16 16 0 0018 0c96.26-65.34 184.09-143.09 183-252.42-.54-52.67-42.32-96.81-95.08-96.81z" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32"></path></svg>
                            <span class="header__account--btn__text"> @Localizer["Wishlist_Text"]</span>
                            <span class="items__count wishlist">0</span>
                        </a>
                    </li>
                </ul>
            </div>

            <!-- список: Home, About US, Pages и тд -->
            <div class="header__menu d-none header__sticky--block d-lg-block">
                <partial name="MainTemplate/_HeaderMenuNavigation" />
            </div>

            <!-- Search, MyAccount, WishList -->
            <div class="header__account header__account2 header__sticky--block">
                <ul class="d-flex">
                    <li class="header__account--items header__account2--items  header__account--search__items d-none d-lg-block">
                        <a class="header__account--btn search__open--btn" href="javascript:void(0)" data-offcanvas>
                            <svg class="header__search--button__svg" xmlns="http://www.w3.org/2000/svg" width="26.51" height="23.443" viewBox="0 0 512 512"><path d="M221.09 64a157.09 157.09 0 10157.09 157.09A157.1 157.1 0 00221.09 64z" fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="32"/><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-miterlimit="10" stroke-width="32" d="M338.29 338.29L448 448"/></svg>  
                            <span class="visually-hidden">Search</span>
                        </a>
                    </li>

                    <partial name="MainTemplate/_AccountHeader" />

                    <li class="header__account--items header__account2--items d-none d-lg-block">
                        <a class="header__account--btn" href="wishlist.html">
                            <svg  xmlns="http://www.w3.org/2000/svg" width="28.51" height="23.443" viewBox="0 0 512 512"><path d="M352.92 80C288 80 256 144 256 144s-32-64-96.92-64c-52.76 0-94.54 44.14-95.08 96.81-1.1 109.33 86.73 187.08 183 252.42a16 16 0 0018 0c96.26-65.34 184.09-143.09 183-252.42-.54-52.67-42.32-96.81-95.08-96.81z" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32"></path></svg>
                            <span class="items__count  wishlist style2">0</span> 
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
