<div class="header__topbar bg__secondary">
    <div class="container-fluid">
        <div class="header__topbar--inner d-flex align-items-center justify-content-between">
            <div class="header__shipping">
                <ul class="header__shipping--wrapper d-flex">
                    <li class="header__shipping--text text-white">Welcome to Super OLX</li>
                </ul>
            </div>
            <div class="language__currency d-none d-lg-block">
                <ul class="d-flex align-items-center">
                    <li class="language__currency--list">
                        <a class="language__switcher text-white" href="#">
                            <img class="language__switcher--icon__img" src="~/icon/language-icon.png" alt="currency">
                            <span>English</span> 
                            <svg xmlns="http://www.w3.org/2000/svg" width="11.797" height="9.05" viewBox="0 0 9.797 6.05">
                                <path  d="M14.646,8.59,10.9,12.329,7.151,8.59,6,9.741l4.9,4.9,4.9-4.9Z" transform="translate(-6 -8.59)" fill="currentColor" opacity="0.7"/>
                            </svg>
                        </a>
                        <div class="dropdown__language">
                            <ul>
                                <li class="language__items"><a class="language__text" href="#">Russia</a></li>
                            </ul>
                        </div>
                    </li>
                    <partial name="_LoginPartial" />  <!-- Login/Logout -->
                </ul>
            </div>
        </div>
    </div>
</div>
