@inject IHtmlLocalizer<OnlineClassifieds.SharedResources.MainTemplateResource> Localizer

<div class="header__topbar bg__secondary">
    <div class="container-fluid">
        <div class="header__topbar--inner d-flex align-items-center justify-content-between">
            <div class="header__shipping">
                <ul class="header__shipping--wrapper d-flex">
                    <li class="header__shipping--text text-white">@Localizer["Welcome_Message"]</li>
                </ul>
            </div>
            <div class="language__currency d-none d-lg-block">
                <ul class="d-flex align-items-center">
                    <partial name="_ChangeLang" />  <!-- Change language -->
                    <partial name="_LoginPartial" />  <!-- Login/Logout -->
                </ul>
            </div>
        </div>
    </div>
</div>
